<h1>Bananas index</h1>

<% @bananas.each do |banana| %>
  <p> <%# link_to banana.name, banana_path(banana.id) %> </p>
  <p> <%= link_to banana.name, banana_path(banana) %> </p>
  <p> <%# link_to banana.name, banana %> </p>
<% end  %>


<%= %>
<%  %>
<%#  %>